.message-list-item-from-me-wrapper {
  display: flex;
  margin-bottom: 1rem;

  >.message-list-item-from-me-content {
    background-color: #2f80ed;
    box-shadow: 0 5px 5px #bababa;
    color: white;
    padding: 1rem;
  }
}
