<div class="block--type-user-list">
  <div class="block--block-item--type-user-list">
    <app-user-list-item class="user-list-component--list-item"></app-user-list-item>
    <app-user-list-item class="user-list-component--list-item"></app-user-list-item>
    <app-user-list-item class="user-list-component--list-item"></app-user-list-item>
    <app-user-list-item class="user-list-component--list-item"></app-user-list-item>
    <app-user-list-item class="user-list-component--list-item"></app-user-list-item>
    <app-user-list-item class="user-list-component--list-item"></app-user-list-item>
    <app-user-list-item class="user-list-component--list-item"></app-user-list-item>
    <app-user-list-item class="user-list-component--list-item"></app-user-list-item>
  </div>
  <div class="block--block-item--type-my-user">
    <div class="block--block-item--type-my-user-avatar">
      <img src="http://i.imgur.com/iQriLFs.png" />
      <span>User #123</span>
    </div>
  </div>
</div>
