<div class="block--type-user-list">
  <div class="block--block-item--type-user-list">
    <div class="block-item--type-user-snippet">
      <span>Agrario02</span>
      <img src="http://www.bananas.org/avatars/mason.gif" />
    </div>
    <div class="block-item--type-user-snippet">
      <span>Agrario02</span>
      <img src="http://www.bananas.org/avatars/mason.gif" />
    </div>
    <div class="block-item--type-user-snippet">
      <span>Agrario02</span>
      <img src="http://www.bananas.org/avatars/mason.gif" />
    </div>
    <div class="block-item--type-user-snippet">
      <span>Agrario02</span>
      <img src="http://www.bananas.org/avatars/mason.gif" />
    </div>
    <div class="block-item--type-user-snippet">
      <span>Agrario02</span>
      <img src="http://www.bananas.org/avatars/mason.gif" />
    </div>
    <div class="block-item--type-user-snippet">
      <span>Agrario02</span>
      <img src="http://www.bananas.org/avatars/mason.gif" />
    </div>
    <div class="block-item--type-user-snippet">
      <span>Agrario02</span>
      <img src="http://www.bananas.org/avatars/mason.gif" />
    </div>
    <div class="block-item--type-user-snippet">
      <span>Agrario02</span>
      <img src="http://www.bananas.org/avatars/mason.gif" />
    </div>
  </div>
  <div class="block--block-item--type-my-user">
    <div class="block--block-item--type-my-user-avatar">
      <img src="http://i.imgur.com/iQriLFs.png" />
      <span>User #123</span>
    </div>
  </div>
</div>
