.block--type-user-list {
  border-bottom: 1px solid #cccccc;
  padding: 1rem;
}

.block--type-user-list {
  display: flex;
}

.block--block-item--type-user-list {
  display: flex;
  flex: 0.8;
  flex-wrap: wrap;
}

.user-list-component--list-item {
  width: 25%;
}

.block--block-item--type-my-user {
  display: flex;
  flex-direction: row-reverse;
  flex: 0.2;
}

.block--block-item--type-my-user-avatar {
  width: 50%;
  > img {
    border-radius: 50%;
    width: 100%;
  }
}