<section class="block--block-chat-messages">
  <div class="block-item--chat-message--wrapper-from-me">
    <div class="block-item--chat-message--item">
      Boo!
    </div>
  </div>
  <div class="block-item--chat-message--wrapper-from-others">
    <div class="block-item--chat-message--item">
      WTF stop spamming chat.
    </div>
  </div>
  <div class="block-item--chat-message--wrapper-from-others">
    <div class="block-item--chat-message--item">
        yea, really. How vulgar.
    </div>
  </div>
  <div class="block-item--chat-message--wrapper-from-others">
    <div class="block-item--chat-message--item">
      Who let this guy in?
    </div>
  </div>
  <div class="block-item--chat-message--wrapper-from-others">
    <div class="block-item--chat-message--item">
      Kick him out please. My inside liberal arts graduate is offended.
    </div>
  </div>
  <div class="block-item--chat-message--wrapper-from-me">
    <div class="block-item--chat-message--item">
      So much hate. Feels bad.
    </div>
  </div>
</section>