.block--block-chat-messages {
  border-color: transparent;
  height: 60vh;
  overflow-y: auto;
  padding: 1rem;
}

.block-item--type-chat-message {
  display: flex;
}

.block-item--chat-message--wrapper-from-me {
  display: flex;
  margin-bottom: 1rem;

  >.block-item--chat-message--item {
    background-color: #2f80ed;
    box-shadow: 0 5px 5px #bababa;
    color: white;
    padding: 1rem;
  }
}

.block-item--chat-message--wrapper-from-others {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 1rem;

  >.block-item--chat-message--item {
    background-color: #c4c4c4;  
    box-shadow: 0 5px 5px #bababa;
    padding: 1rem;
  }
}
