<section class="block--block-chat-messages">
  <ul>
    <li>Message #1</li>
    <li>Message #2</li>
    <li>Message #3</li>
    <li>Message #4</li>
    <li>Message #5</li>
    <li>Message #6</li>
    <li>Message #7</li>
    <li>Message #8</li>
    <li>Message #9</li>
    <li>Message #10</li>
    <li>Message #11</li>
    <li>Message #1</li>
    <li>Message #2</li>
    <li>Message #3</li>
    <li>Message #4</li>
    <li>Message #5</li>
    <li>Message #6</li>
    <li>Message #7</li>
    <li>Message #8</li>
    <li>Message #9</li>
    <li>Message #10</li>
    <li>Message #11</li>
    <li>Message #1</li>
    <li>Message #2</li>
    <li>Message #3</li>
    <li>Message #4</li>
    <li>Message #5</li>
    <li>Message #6</li>
    <li>Message #7</li>
    <li>Message #8</li>
    <li>Message #9</li>
    <li>Message #10</li>
    <li>Message #11</li>
    <li>Message #1</li>
    <li>Message #2</li>
    <li>Message #3</li>
    <li>Message #4</li>
    <li>Message #5</li>
    <li>Message #6</li>
    <li>Message #7</li>
    <li>Message #8</li>
    <li>Message #9</li>
    <li>Message #10</li>
    <li>Message #11</li>
  </ul>
</section>