<div class="wrapper__user-list">
  <div class="block-item__my-user">
    <div class="block-item__my-user-avatar">
      <img [src]="currentUser.avatarUrl || 'https://upload.wikimedia.org/wikipedia/en/b/b1/Portrait_placeholder.png'" />
      <span>{{currentUser.name}}</span>
    </div>
  </div>
  <div class="wrapper__item__other-users-list">
    <app-user-list-item *ngFor="let user of users; trackBy: getUserId" [user]="user" class="user-list-component--list-item"></app-user-list-item>
  </div>
</div>
