:host {
  .wrapper__user-list {
    display: flex;
    flex-direction: column;
    border-right: 1px solid grey;
  }

  .wrapper__item__other-users-list {
    height: 20rem;
    overflow-y: auto;
  }

  .block-item__my-user {
    padding: 1.5rem;
  }

  .block-item__my-user-avatar {
    text-align: center;
    flex-direction: column;
    display: flex;
    img {
      width: 50%;
      padding-left: 25%;
    }
  }
}