:host {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  >img {
    height: 2rem;
    object-fit: contain;
    flex: 0 0 2rem;
    border-radius: 50%;
    margin-right: .5rem;
    background: rgba(0, 0, 0, 0.2);
  }
  >.user-name {
    flex: 1 1 auto;
  }
}
