.block--block-chat {
  border-top: 1px solid #cccccc;
  display: flex;
  padding: 1rem;
}

.block--block-chat--block-item-input {
  flex: 1;
  margin: 0 1rem;
}

.input__message-box {
  margin: 0 1rem;
  padding: 0 .5rem;
}