:host {
  display: block;
  margin-bottom: 1rem;
  >.message-body {
    &.message-mine {
      >.message-text {
        padding: 0.5rem;
        background-color: #2f80ed;
        display: inline-block;
        text-align: right;
      }
    }
    &.message-theirs {
      >.message-text {
        padding: 0.5rem;
        background-color: #c4c4c4;
        display: inline-block;
        text-align: left;
      }
    }
  }
}
