.message-list-item-from-others-wrapper {
  display: flex;
  margin-bottom: 1rem;

  >.message-list-item-from-others-content {
    background-color: #2f80ed;
    color: white;
    padding: 1rem;
  }
}
