:host {
  display: block;
  margin-bottom: 0.5rem;
  >.message {
    padding: 0.25rem;
    display: flex;
    text-align: left;
    flex-direction: row;
    align-items: center;

    &.message-mine {
      background-color: #c4c4c4;
    }
    &:not(.message-mine) {
      background-color: #2f80ed;
      color: white;
    }
    > img {
        object-fit: contain;
        flex: 0 0 2rem;
        margin-right: 0.5rem;
        height: 2rem;
        border-radius: 100%;
        background: rgba(0, 0, 0, 0.2);
    }
    >.message-text {
        flex: 1 1 auto;
    }
  }
}
